.card {
  float: left;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
}

.hand {
  overflow: auto;
}

body{
  padding: 20px;
}

.player-hand-container{
  padding-top: 10px;
}

h2 {
  padding-bottom: 10px;
}
